html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: #00b8e4;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

p {
    font-size: 14px;
    line-height: 2;
}

.button {
    background-color: #00b8e4;
    padding: 10px 60px;
    display: inline-block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #006d88;
}

.site-header {
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bar {
    background-color: #db008d;
    overflow: hidden;
}

.mobile-menu {
    color: white;
    font-size: 2rem;
    text-align: center;
    display: block;
    padding: 20px 0;
}

@media (min-width: 768px) {
    .mobile-menu,
    .close {
        display: none!important;
    }   
}

#nav:target {
    max-height: 800px;
}

.main-nav {
    max-height: 0;
    transition: 0.5s;
}

@media (min-width: 768px) {
    .main-nav {
        max-height: unset;
    }
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: center;
    padding: 20px
}

.main-nav a:hover {
    background-color: #00b8e4;
}

@media (min-width: 768px) {
    .main-nav a {
        display: inline-block;
    }
}

.main-content {
    margin-top: 40px;
}

.main-content,
.sidebar {
    padding: 20px;
}

@media (min-width: 768px) {
    .main-content {
        width: 70%;
        float: left;
        padding: 0 60px 0 0;
    }
    
    .sidebar {
        width: 30%;
        float: right;
        padding: 0;
        margin-top: 40px;
    }
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.entry {
    margin-bottom: 60px;
}

.entry:last-of-type {
    margin-bottom: 0;
}

.entry img {
    display: block;
}

.entry p {
    text-align: justify;
}

@media (min-width: 480px) {
    .entry img {
        width: 300px;
        float: left;
        margin: 0 30px 30px 0;
    }
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li:hover {
    background-color: #00b8e4;
}

.sidebar ul li:hover a {
    color: white;
}

.sidebar ul li a {
    color: #00b8e4;
    font-size: 18px;
    text-decoration: none;
}

.site-footer {
    background-color: #db008d;
    padding-top: 40px;
    margin-top: 60px;
    color: white;
    text-align: center;
}

.site-footer h2 {
    color: white;
}

.site-footer a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin-right: 20px;
}

.site-footer a:last-of-type {
      margin-right: 0;
}

@media (min-width: 768px) {
    .site-footer .nosotros {
        float: left;
        width: 30%;
    }

    .site-footer .menu {
        float: right;
        width: 50%;
        text-align: right;
    }
}

.copyright {
    background-color: #b10474;
    margin: 50px 0 0 0;
    padding: 20px 0;
}