.site-header {
    padding: 20px 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bar {
    background-color: #db008d;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: center;
    padding: 20px
}

.main-nav a:hover {
    background-color: #00b8e4;
}

@media (min-width: 768px) {
    .main-nav a {
        display: inline-block;
    }
}